body{
    background-color: rgb(182, 242, 182);
    margin: 0;
}

.title-container{
    background-color: rgb(88, 221, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container > img{
    width: 400px;
    height: 100px;
    margin-top: 10px;
}

.title-container > span{
    color: white;
    font-size: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.input-container{
    margin-top: 20px;
    text-align: center;
}

.input-box{
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    background-color: rgb(182, 242, 182);
}

.btn-box{
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    background-color: rgb(182, 242, 182);
}

.result{
    background-color: pink;
}

@media (max-width: 540px){
    .title-container{
        flex-direction: column;
    }

    .title-container > img{
        width: 180px;
        height: 50px;
    }

    .title-container > span{
        font-size: 50px;
    }
}

@media screen and (min-width: 540px) and (max-width: 960px){
    .title-container > img{
        width: 120px;
        height: 50px;
    }

    .title-container > span{
        font-size: 50px;
    }
}

@media(min-width: 960px){
    .title-container > img{
        width: 120px;
        height: 50px;
    }

    .title-container > span{
        font-size: 50px;
    }
}
